@import "tailwindcss";
@theme {
  --color-background: #0F172A;
  --color-surface: #111827;
  --color-card: #1E293B;
  --color-hover: #334155;

  --color-text-primary: #F8FAFC;
  --color-text-secondary: #CBD5E1;
  --color-text-muted: #94A3B8;

  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;

  --color-success: #22C55E;
  --color-error: #EF4444;
  --color-warning: #F59E0B;

  --color-border: #334155;
}